#formatting {
    background-color: rgba(137, 43, 226, 0.582);
}
#matematika{
    background-color: rgb(196, 120, 196);
}
#kimia {
    background-color: aqua;
}
#paragraf{
    background-color: rgb(179, 129, 67);
}